/lecture2/fls-lecture-2-AlexanKartashov/.idea
/lecture2/fls-lecture-2-AlexanKartashov/target/classes
/lecture2/fls-lecture-2-AlexanKartashov/target/generated-sources
/lecture2/fls-lecture-2-AlexanKartashov/target/maven-archiver
/lecture2/fls-lecture-2-AlexanKartashov/target/maven-status